.footer {
  background: #fff;
  position: relative;
  z-index: 100;
  border-top: 1px solid var(--border-color);
}
[data-theme="dark"] .footer {
  background: #111;
  /* border-top: 1px solid #222; */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.285);

}

.footer-container {
  max-width: 1200px;
  min-height: 65px; 
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.footer-logo-section {
  flex: 1;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer-logo-icon {
  width: 26px;
  height: 26px;
  background: linear-gradient(145deg, #ffffff, #7aacc8);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center
}
[data-theme="dark"] .footer-logo-icon {
  background: linear-gradient(-145deg, #fff, #0a4059);
}

.footer-logo-m {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
}

.footer-logo-text {
  display: flex;
  flex-direction: column;
}

.footer-logo-title {
  background: linear-gradient(110deg, #0a8cd8, #3ae8b6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  line-height: 1.2;
}

.footer-logo-subtitle {
  color: var(--text-secondary);
  font-size: 0.6rem;
  margin: 0;
  line-height: 1;
}

.footer-copyright {
  flex: 2;
  text-align: center;
  min-width: 200px;
}

.copyright-text {
  color: var(--text-secondary);
  font-size: 10px;
  margin: 0;
  line-height: 1.3;
}

.footer-social {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
  min-width: 150px;
}

.social-link {
  width: 26px;
  height: 26px;
  background: var(--bg-secondary);
  border: 1px solid var(--border-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-secondary);
  text-decoration: none;
  transition: var(--transition);
  box-shadow: var(--shadow-sm);
}

.social-link:hover {
  background: var(--accent-light);
  border-color: var(--accent-primary);
  color: white;
  transform: translateY(-1px);
  box-shadow: var(--shadow-md);
}

[data-theme="dark"] .social-link:hover {
  background: white;
  border-color: white;
  color: black;
}

.social-icon {
  font-size: 12px;
  color: #084668;
  transition: var(--transition);
}

.social-link:hover .social-icon {
  color: #0a5c7f;
}


@media (max-width: 768px) {
  .footer-container {
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  .footer-container p {
    display: none;  
}
}

@media (max-width: 564px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

}


