/* Global App Styles */
.app {
  height: 100vh;
  background-color: var(--bg-primary);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  transform-origin: center center;
  /* background-color:#fff; */
  background-image: url(/public/Login.jpeg);
  background-size: cover;
  background-position: center;
}
[data-theme="dark"] .main-content {
  background-color: #111;
  background-image: url(/public/Sign\ up-Dark.jpeg);
}

